asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.3.1
Django==2.1
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-filter==2.0.0
-e git://github.com/darklow/django-suit.git@52ecdad0a55dda368e4282c45de93e117aebab59#egg=django_suit
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
ecdsa==0.13
future==0.16.0
idna==2.7
pyasn1==0.4.4
pycparser==2.18
pycrypto==2.6.1
PyJWT==1.6.4
python-jose==3.0.0
pytz==2018.5
rsa==3.4.2
six==1.11.0
